name: Atualizar Métricas do README

on:
  schedule:
    - cron: '0 0 * * *' 
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions: # Garante permissão de escrita
      contents: write
    steps:
      - uses: actions/checkout@v4

      - name: Geração de Cartão de Estatísticas (Commits e Linguagens)
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GH_TOKEN }}
          user: gabrieltabosa
          
          
          markdown: yes 
          
          filename: README.md
          template: classic

          # CONFIGURAÇÕES DO DASHBOARD:
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_threshold: 0% 
          plugin_languages_limit: 8
