name: Atualizar Métricas do README

on:
  schedule:
    # Roda todos os dias à 0h UTC
    - cron: '0 0 * * *' 
  workflow_dispatch:

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write # 1. Permissão de escrita para o commit
    steps:
      - uses: actions/checkout@v4

      - name: Geração de Cartão de Estatísticas (Commits e Linguagens)
        uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GH_TOKEN }}
          user: gabrieltabosa
          
          # 2. Configurações de Saída:
          filename: README.md
          markdown: yes 
          output_action: commit # 3. Força o commit da alteração no README
          template: classic

          # 4. Configurações dos Plugins (Sem Alteração):
          plugin_isocalendar: yes
          plugin_isocalendar_duration: full-year
          plugin_languages: yes
          plugin_languages_details: bytes-size, percentage
          plugin_languages_threshold: 0% 
          plugin_languages_limit: 8
